<!DOCTYPE html>
<html>
<head>
  <title>Referrals</title>
  <%= stylesheet_link_tag    "referrals/application", media: "all" %>
  <%= javascript_include_tag "referrals/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
